@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class = "flex-space">
@if (SignInManager.IsSignedIn(User))
{
    @*
    <nav class = "dropdown">
        <button id = "dropdown-button">            
            <i style="margin-right: 1em" class="fas fa-user"></i>
            <i style="margin-right: 1em" class="fas fa-caret-down"></i>
        </button>
        <ul class = "dropdown-content" id = "dropdown-content">
            <li>
                <p>
                    Logged in as <strong>@UserManager.GetUserName(User)</strong>
                </p>
                <hr/>
            </li>
            <li>
                <p>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit profile</a>
                </p>
            </li>
            <li>
                <p>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
                        <button type="submit">Logout</button>
                    </form>  
                </p> 
            </li>
        </ul>
    </nav>
    *@
    <nav>
        <ul class="flex-space">
            <li>
              
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
              </li>
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
                    <button type="submit">Logout</button>
                </form> 
            </li>
        </ul>
    </nav>
}
else
{    
    <a class = "button primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class = "button" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
</div>

<script>
/*
document.getElementById("dropdown-button").addEventListener("click", function(event){
    event.stopPropagation();
    document.getElementById("dropdown-content").classList.toggle("show");
});

window.onclick = function(event) {  
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  
}*/
</script>